<%- include("../partials/header.ejs") %>

<h1>details about prehistoric creature <%= id %>:</h1>

<h2>Name:</h2>

<p><%= prehistoricCreature.name %></p>

<h2>Type:</h2>

<p><%= prehistoricCreature.type %></p>

<%- include("../partials/footer.ejs") %>
