<%- include("../partials/header.ejs") %>

<h1>details about prehistoric creature <%= id %>:</h1>

<h2><%= prehistoricCreature.type %></h2>

<img
  src="<%= prehistoricCreature.img_url %>"
  alt="<%= prehistoricCreature.type %>"
/>

<%- include("../partials/footer.ejs") %>
